body{
    font-family: 'Roboto';
}

.navbar{
    background-color: #1E202B;

}
.navbar-collapse a{
    font-weight: 400 ;
    margin-inline: 5px;
    color: white;
    display: inline-block;
    padding: 5px 25px !important;
    border: 2px solid #09c;
    border-radius: 30px;
    border-color: transparent;
    transition: all .3s ease;
}

/* 
.home{
    border-color: #09c !important;
    color: #09c !important;
} */

.navbar-collapse a:hover{
    border-color: #09c;
    color: #09c;
}


.active{
    border-color:#09c  !important;
    color: #09c !important;
}


.log-desc{

    display: block;
    color: #bfc1c8;
    font-size: .7em ;
    cursor: pointer;
}




/* ////////////////////////////////////////////////////////////////// */


main{
    background-image: url('../images/banner.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-color: #1E202B;
    height: 600px;
}

.parent{
    overflow: auto;
}

.search-input{
    color: white;
    width: 100%;
    background-color: #1E202B;
    border: none;
    padding: 20px 50px 20px 20px;
    border-radius: 30px;
    margin-block: 70px;
}

.search{
    position: relative;
}


.my-btn{
    background-color: #009AD8;
    padding: 15px 40px;
    border-radius: 30px;
    border: none;
}



.find-button{
    position: absolute;
    top: 75px;
    right: 16px;
    color: white;
}




.today-date{
    position: absolute;
    top: 8px;
    right: 10px;
}






.day{
    padding: 0;
}


.day-head{
    margin: 0 !important;
    background-color: #2D303D;
    color: rgba(255, 255, 255, 0.594);


}

.day-body{
    margin: 0 !important;
    background-color: #323544;
}


.temp-deg{
    font-size: 6.4rem;
    color: white;
}


.tomorrow .day-head{
    background-color: #222530;
}


.tomorrow .day-body{
    background-color: #262936;
}










/* //////////////////////////////////////////////// */




footer{
    height: 200px;
    background-color: #262936;
}

.subscribe-input{
    color: white;
    width: 100%;
    background-color: #1E202B;
    border: none;
    padding: 20px 50px 20px 20px;
    border-radius: 30px;
    margin-top: 70px;
}

p{
    margin-top: 20px;
    color: rgba(255, 255, 255, 0.619);
}

.subscribe{
    position: relative;
}


.subscribe-btn{
    position: absolute;
    top: 75px;
    right: 5px;
    color: white;
}


.icons{
    text-align: center;
    margin-block: 80px;
}

.icons a{
    width: 50px;
    height: 50px;
    display: inline-block;
    color: #09c ;
    text-align: center;
    line-height: 2.25;
    font-size: 1.42857em;
    border-radius: 50%;
    background: rgb(30, 32, 43);
    transition: all 0.3s ease 0s;
}


.icons a:hover{
    background-color:#09c ;
    color: white;
}